@model IEnumerable<Users>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Elmadrasa Users</h2>
                            <table class="table table-bordered alert-info  align-content-stretch" style="margin:20px">
                                <thead>
                                <th> User ID</th>
                                <th> User Name</th>
                                <th>User Email</th>
                                <th> User Role</th>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.Email</td>
                                                <td>@item.Role</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr colspan="4">
                                            <td>There is No User</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center" style="background-color:bisque">
                                <a asp-action="Createuser" asp-controller="account"
                                   class="btn btn-success btn-block btn-lg gradient-custom-4 text-body form-control form-control-lg">

                                    Add New User
                                </a>
                            </div>
                          

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



