
@{
    ViewData["Title"] = "Createuser";
}

<h1>CreateUuser</h1>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an  account</h2>

                            @using (Html.BeginForm("CreateUser", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-outline mb-4">

                                    <label class="form-label" for="form3Example1cg"> Name</label>
                                    <input type="text" name="Name" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">

                                    <label class="form-label" for="form3Example1cg">Email</label>
                                    <input type="text" name="Email" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">

                                    <label class="form-label" for="form3Example1cg">Role</label>

                                    <select name="Role" class="form-control form-control-lg">
                                             <option>
                                                 Student
                                             </option>
                                             <option>Admin</option>
                                   </select>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Register"
                                           class="btn btn-success btn-block btn-lg gradient-custom-4 text-body form-control form-control-lg">

                                    </input >
                                </div>




                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

